* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  height: 150px;
  background-color: lightblue;
}

main {
  padding: 50px 0;
  background-color: lightgreen;
}

main .container {
  display: flex;
  flex-wrap: wrap;
}

main .container .card {
  width: calc(100% / 5 - 30px);
  height: 250px;
  padding: 0 15px;
  background-color: grey;
  border: 1px solid white;
  margin: 15px;
}

main .container .card h2,
main .container .card h3 {
  padding: 15px 0;
  text-align: center;
}

footer {
  height: 150px;
  background-color: coral;
}

